<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/index.css" type="text/css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="/js/index.js" charset="utf-8"></script>
  <title>Community Board</title>
</head>
