<header>
  <div class="logo">
    <a href="/logout" class="btn btn-default btn-sm"><h1></h1></a>
  </div>
  <div class="info">
      <ul>
        <a href="#"><li class="octicon octicon-comment"><h5></h5></li></a>
        <li><img src="<%=data.pic%>"/></li>
      </ul>
  </div>
</header>
