<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/index.css" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/js/index.js" charset="utf-8"></script>
    <title>Community Board</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1></h1>
      </div>
      <div class="login-signup">
        <a href="#">Log in</a>
        <button type="button" name="button">Sign up</button>
      </div>
    </header>
    <main>
      <div class="signup">
        <ul>
          <li><h1>Log in</h1></li>
          <li>Not registered with us yet? <a href="#">Sign up</a></li>
        </ul>
      </div>
          <% include ./partials/signup %>
    </main>
  </body>
</html>
