<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/index.css" type="text/css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <title>Community Board</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1></h1>
      </div>
      <div class="login-signup">
        <a href="#">Login</a>
        <button type="button" name="button">Sign up</button>
      </div>
    </header>
    <main>
      <!-- <div id="one">
        <form class="" action="/login" method="post">
          <input type="text" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Passsword">
          <input class="submit" type="submit" value="Go">
        </form> -->
        <!-- <form action='/' method="post">
          <h5>Register</h5>
          <input type="text" name="firstName" placeholder="First Name">
          <input type="text" name="lastName" placeholder="Last Name">
          <input type="text" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Passsword">
          <input type="text" name="street" placeholder="Street Address">
          <input type="text" name="city" placeholder="City">
          <input type="text" name="state" placeholder="State">
          <input type="number" name="zip" placeholder="Zip Code">
          <br>
          <input class="submit" type="submit" value="Join">
        </form> -->

      <!-- </div> -->
    </main>
  </body>
</html>
