<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <main>
      <div class="signup">
        <ul>
          <li><h1>Log in</h1></li>
          <li>Not registered with us yet? <a href="/signup">Sign up</a></li>
          <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

        </ul>
      </div>
      <div class="login">
        <form action="/login" method="post">
          <h4>Email address</h4>
          <input type="text" name="email" value="">
          <h4>Password</h4>
          <input type="password" name="password" value="">
          <button type="submit" name="submit">Log In</button>
        </form>
      </div>
    </main>
  </body>
</html>
