<!DOCTYPE html>
<html>
    <% include ./partials/head %>
    <head>
      <link rel="stylesheet" href="../styles/octicons/octicons.css">
      <link rel="stylesheet" href="../styles/newProfile.css">
    </head>
  <body>

  </body>
</html>
