<!DOCTYPE html>
<html lang="en-US">
  <% include ./partials/head %>
  <head>
    <link rel="stylesheet" href="../styles/octicons/octicons.css">
    <link rel="stylesheet" href="../styles/newProfile.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/logout" class="btn btn-default btn-sm"><h1></h1></a>
      </div>
      <div class="info">
          <ul>
            <a href="#"><li class="octicon octicon-comment"><h5>0</h5></li></a>
            <li><img src="<%=data.pic%>"/></li>
          </ul>
      </div>
    </header>
    <!-- <main style="height: 350px; margin: 2% auto;">
      <form class="" action="index.html" method="post">
      <input type="text" name="name" placeholder="Find your neighborhood">
      </form>

      <div class="boards">
        <%for(var i = 0; i < data.boards.length; i++){%>
          <a href="/board/<%=data.boards[i].id%>"><div class="my-boards">
            <%=data.boards[i].name%>
          </div></a>
        <%}%>
      </div>
    </main> -->
    <main style="height: 950px;">
      <div class="label">
      </div>
      <div class="inbox-messages">
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </main>
      </body>
</html>
