<!DOCTYPE html>
<html lang="en-US">
  <% include ./partials/head %>
  <head>
    <link rel="stylesheet" href="../styles/octicons/octicons.css">
    <link rel="stylesheet" href="../styles/newProfile.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/logout" class="btn btn-default btn-sm"><h1></h1></a>
      </div>
      <div class="info">
          <ul>
            <a href="#"><li class="octicon octicon-comment"><h5></h5></li></a>
            <li><img src="<%=data.pic%>"/></li>
          </ul>
      </div>
    </header>
    <main style="height: 1130px;">
      <form class="" action="index.html" method="post">
      <input type="text" name="name" placeholder="Find your neighborhood">
      </form>

      <div class="boards">
        <div class="my-boards">Manhattan</div>
        <div class="my-boards">Brooklyn</div>
        <div class="my-boards">Bronx</div>
        <div class="my-boards">Queens</div>
<div class="my-boards">Staten Island</div>
      </div>
    </main>
    <% include ./partials/inbox %>
    <div id="show-neighborhoods">
      <div class="h1">
        <h2 class="octicon octicon-home"></h2>
        <h1 style="font-size: 60px;"></h1>
      </div>
      <ul></ul>
    </div>

    <div id="neighborhood">
      <h1 class="h1">Maurry Hill</h1>
      <div id="members"></div>
      <div id="topics"></div>
      <div id="search-add"></div>
      <div id="forum"></div>
    </div>

  </body>
</html>
