<!DOCTYPE html>
<html lang="en-US">
  <% include ./partials/head %>
  <head>
    <link rel="stylesheet" href="../styles/octicons/octicons.css">
    <link rel="stylesheet" href="../styles/newProfile.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/logout" class="btn btn-default btn-sm"><h1></h1></a>
      </div>
      <div class="info">
          <ul>
            <a href="#"><li class="octicon octicon-comment"><h5></h5></li></a>
            <li><img src="<%=data.pic%>"/></li>
          </ul>
      </div>
    </header>
    <main style="height: 1130px;">
      <form class="" action="index.html" method="post">
      <input type="text" name="name" placeholder="Find your neighborhood">
      </form>

      <div class="boards">
        <div class="my-boards" style="background: url('http://www.nyctourist.com/sites/default/files/manhattan-222_0.jpg');">Manhattan</div>
        <div class="my-boards" style="
    background: url('http://www.friendofafarmer.com/brooklyn_files/small_24779.jpg');
    background-size: cover;
">Brooklyn</div>
        <div class="my-boards" style="background: url('https://s-media-cache-ak0.pinimg.com/600x315/33/8b/2c/338b2c975d4ca8042903684633f3eaf5.jpg');background-repeat: no-repeat; background-size: cover;">Bronx</div>
        <div class="my-boards" style="
    background: url('http://www.bqetours.com/wp-content/uploads/2014/11/Blogpost-2-main-photo.png');
">Queens</div>
<div class="my-boards" style="
background: url('http://www.visitstatenisland.com/images/backgroundphotos/DE93DAFA-3048-64E8-40178E69BF259E4D.jpg');
">Staten Island</div>
      </div>
    </main>
    <% include ./partials/inbox %>
    <div id="show-neighborhoods">
      <div class="h1">
        <h2 class="octicon octicon-home"></h2>
        <h1 style="font-size: 60px;"></h1>
      </div>
      <ul></ul>
    </div>

    <div id="neighborhood">
      <h1 class="h1">Maurry Hill</h1>
      <div id="members"></div>
      <div id="topics"></div>
      <div id="search-add"></div>
      <div id="forum"></div>
    </div>

  </body>
</html>
