* {
  margin: 0;
  padding: 0;
}
body {
  background: url('https://images.unsplash.com/photo-1416453072034-c8dbfa2856b5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ee81d10cae56a758cfdfa2d7dacac10e');
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: 'ransom-note';
  src: url('./ransom.cutupletters.ttf');
}


header{
  font-family: 'ransom-note';
  /*background: url('http://www.collegehills.org/files/Images/Event%20Graphics/Bulletin%20Board%20Community.jpg');*/
  text-align: center;
  color: white;
  font-size: 20px;
  background: black;
  opacity: .7;
  height: 10%;
  padding: none;
  margin-top: none;
  /*padding-bottom: none;*/
}

h5 {
  text-align: center;
  color: white;
  padding-bottom: 5%;
}
input {
  background: none;
  border: none;
  color: white;
}
main {
  padding-top: none;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.submit {
  background: lightgreen;
  border-radius: 10px;
  border: double 3px black;
  /* opacity: .4; */
  width: 45%;
  color: black;
  font-weight: 900;
  margin-top: 5%;

}

#one {
  margin-top: 15%;
  border: 5px solid white;
  background: black;
  width: 20%;
  height: 100%%;
  opacity: .7;
  text-align: center;
  border-radius: 5%;
  /* border-top-left-radius: 5%; */
  /* border-bottom-left-radius: 5%; */
  margin-left: 41%;
}

#one > form {
  padding-top: 5%;
  width: 100%;
  margin: 0 auto;
}
