main {
  margin: 10% auto;
}

.info {
  width: 50%;
  text-align: right;
  margin-right: 40px;
  margin-top: 25px;
}

.info ul li {
  list-style: none;
  display: inline-block;
  font-size: 60px;
  color: #04B472;
}

.info ul li img {
  border-radius: 100px;
  width: 70%;
  height: 70%;
}

.my-boards {
  height: 140px;
  width: 80%;
  margin: 1%;
  border-bottom: 2px solid grey;
  display: inline-block;
  margin-top: 30px;
  font-size: 110px;
  color: white;
  box-shadow: 5px 5px lightgray;
  border-radius: 15px;
}


.boards {
    border-top: 2px solid grey;
}

main form {
  margin-bottom: 40px;
}

main form  input {
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px lightgray;
  text-align: center;
}
