* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'ransom-note';
  src: url('./ransom.cutupletters.ttf');
}
@font-face {
  font-family: 'pins';
  src: url('./fontello.ttf');

}

header{
  font-family: 'ransom-note';
  /*background: url('http://www.collegehills.org/files/Images/Event%20Graphics/Bulletin%20Board%20Community.jpg');*/
  /*text-align: center;*/
  color: white;
  font-size: 20px;
  background: black;
  /*opacity: .7;*/
  height: 10%;
  padding: none;
  margin-top: none;
  /*padding-bottom: none;*/
}
main {
  display: inline-flex;
}
h1 {
  text-align: center;
}

h5 {
  text-align: left;
  color: white;
  padding-bottom: 10%;
}
.email-address {
  padding-top: 37px;
}
.profile-details {
  display: inline-flex;
}
/*.first-last-name {
  display: inline-flex;
}*/
.first-last-name > ul :first-child {
  display: inline-flex;
  padding-right: 5px;
}
li {
  list-style: none;
}
header > a {
  padding: 0;
  margin: 0;
  text-align: right;
  font-family: arial;
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.boards {
  background: lightgrey;
  text-align: center;
  width: 745px;
  height: 600px;
}
.my-boards > p {
  font-family: 'pins',cursive;
  font-size: 30px;
}
.my-boards {
  display: inline-block;
  border: double 2px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 30%;
  background: lightyellow;
}
#comments {
  width: 370px;
  height: 100px;
  overflow: scroll;
}
#comment-box {
  width: 250px;
  height: 50px;
}
#inbox-send {
  border: none;
  background: lightgreen;
  height: 80px;
  width: 80px;
  border-radius: 50%;

}
.comment {
  display: inline-flex;
  padding-bottom: 10px;

}
.comment > a > img {
  height: 40px;
  width: 40px;
  padding-right: 10px;
}
.comment-container {
  height: 50px;
  width: 300px;
  background: lightgrey;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
}
.user-comment-container {
  text-align: right;
  height: 50px;
  width: 300px;
  background: lightblue;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
}
.user-comment-container > a > img {
  height: 40px;
  width: 40px;
  padding-left: 10px;
}
